{% extends 'home/list.html.twig' %}

{% block title %}Rick et Morty{% endblock %}

{% block header %}

<!-- main -->
    <div class="my-5 py-5 text-center">
        <img src="{{ asset('images/rick-et-morty-complet.png') }}" height="400" alt="Logo Rick et Morty" class="mb-3">
        <h1 class="display-6 fw-bold">Rick et Morty - Adrien Tuquet</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-muted">Tank's you <a class ="text-decoration-none" href="https://rickandmortyapi.com/" target="_blanck"> The Rick and Morty API</i></a></p>
        </div>
    </div>

{% endblock %}

